[workspace]
allow-branch = ["main"]
sign-commit = false
sign-tag = false
push = true
publish = false           # Not publishing to crates.io yet
pre-release-commit-message = "release: v{{version}}"
tag-message = "v{{version}}"
tag-prefix = "v"
tag-name = "v{{version}}"

[[package.pre-release-replacements]]
file = "CHANGELOG.md"
search = "## \\[Unreleased\\]"
replace = "## [Unreleased]\\n\\n## [{{version}}] - {{date}}"
